[Desktop Entry]
Version=1.0
Type=Application
Name=berry
GenericName=Image Viewer
Icon=/usr/share/berry/files/icons/berry.png
Exec=berry %f
NoDisplay=false
Categories=Graphics;Viewer;
MimeType=inode/directory;image/jpeg;image/png;image/bmp;application/berry-lock;
StartupNotify=true
Terminal=false
