[Desktop Entry]
Version=1.0
Type=Application
Name=Berry
GenericName=Image Viewer
Icon=/usr/share/berry/icons/berry.png
Exec=berry %f
NoDisplay=false
Categories=Graphics;Viewer;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;application/berry-lock;
StartupNotify=true
Terminal=false
